<div class="container">

    <div class="row">

        <!-- List of posts on the left -->
        <div class="col-md-3">
            <p class="lead">Some Posts</p>
            <div id="post_list_attach_point" class="list-group">
                {{#each post_list}}
                    <a href="{{url}}" class="list-group-item">{{title}}</a>
                {{/each}}
            </div>
        </div>

        <!-- Post on the right -->
        <div class="col-md-9">
            <div id="post_view_attach_point"></div>
        </div>

    </div>

</div>