<div id="welcome_tab_content">
    <h1>In the Beginning</h1>
    <p>
        And I said, "Let there be code." And <i>poof</i> here we are. Somewhere, that has to be why we love coding.
        That notion of creating something from scratch, something that is entirely our brain child. Furthermore,
        because
        our code is language, the opportunity exists to create beauty not only in the final product but also in the
        specification (the code). I could go on like this for hours, because it is what I do. However, perhaps
        a word on the why of this site.
    </p>
    <h2>Why I Exist</h2>
    <p>
        The "I" here is the site, not the author. This site is my playground, testbed, and hobby. It is here because I'm
        learning to use some new tools and I need a canvas on which to apply my lessons. My academic discipline was
        operating systems, and although I spent plenty of time in my professional career dealing with UX/UI problems,
        the majority of my from scratch architecture experience is on the back end. So, I'm learning some web
        technologies I've been wanting to play with for a while.
    </p>
    <h2>What I've Got</h2>
    <p>
        Since I am not trying to sell you anything, and I am not an artist/writer/blogger/etc, I have to make up
        some content. After mulling it over for a while, and scoring the name CodeOfCoding.com, I decided to go meta
        and use this web app as a portal for documenting the creation, enhancement, and maintenance of itself. The
        challenge of building a single page app (SPA) while learning new technologies is the story around which I'll
        create content for the site.
    </p>
</div>