<!-- Header -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Code Of Coding</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#home" data-toggle="pill">Home</a></li>
                <li><a href="#system_info" data-toggle="pill">System Info</a></li>
                <li><a href="#story" data-toggle="pill">Story</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Content -->
<div id="top_level_content" class="tab-content">
    <div id="home" class="tab-pane fade in active">{{>handlebars/home.handlebars}}</div>
    <div id="system_info" class="tab-pane fade">{{>handlebars/system_info.handlebars}}</div>
    <div id="story" class="tab-pane fade">{{>handlebars/story.handlebars}}</div>
</div>
