<!-- Header -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Code Of Coding</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" role="tablist">
                <li>
                    <a data-target="#home" data-toggle="tab" role="tab">Home</a>
                </li>
                <li>
                    <a data-target="#story" data-toggle="tab" role="tab">Story</a>
                </li>
                <!--<li><a href="blog" role="tab">Blog</a></li>-->
                <li id="post_blog_nav_li" class="hidden">
                    <a data-target="#post" data-toggle="tab" role="tab">Post</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Content Attach Points-->
<div id="top_level_content" class="tab-content">
    <div id="home" class="tab-pane fade">{{>handlebars/home.handlebars}}</div>
    <div id="story" class="tab-pane fade"><!-- I'm loaded at runtime --></div>
    <div id="post" class="tab-pane fade"><!-- I'm loaded at runtime --></div>
</div>

<!-- Login Modal Attach Point -->
<div id="login"></div>

<!-- View Post Attach Point -->
<div id="view_post_attach_point"></div>