<div id="post_blog">

    <h1>Post Blog Entry</h1>

    <textarea name="post_blog_editor" id="post_blog_editor" rows="100" cols="100">
        This is my textarea to be replaced with CKEditor.
    </textarea>

</div>