<form class="form-inline clearfix" role="form" style="margin:1em;">
    <div class="pull-left ">

        <div class="form-group">
            <label for="title_txt">Title</label>
            <input id="title_txt"
                   class="form-control"
                   name="title_txt"
                   type="text"
                   placeholder="title">
        </div>
        <div class="form-group">
            <label for="tags_txt">Tags</label>
            <input id="tags_txt"
                   class="form-control"
                   name="tags_txt"
                   type="text"
                   placeholder="tags">
        </div>
        <div class="form-group">
            <label for="post_date_picker">Post Date</label>
            <input class="form-control" id="post_date_picker" data-provide="datepicker">
        </div>
    </div>


    <div class="pull-right">

        <button type="button"
                id="post_btn"
                data-loading-text="Posting ..."
                class="btn btn-primary">
            Post
        </button>
    </div>
</form>


<div style="margin:1em;">
    <div id="top_space"></div>
    <textarea name="summary_editor" id="summary_ckeditor">
        Summary.
    </textarea>
    <textarea name="post_editor" id="post_ckeditor">
        Time to write, dude.
    </textarea>
    <div id="bottom_space"></div>
</div>