<div id="post_blog" class="container-fluid">

    <div class="row">
        <div class="col-md-10">
            <h1>Post Blog Entry</h1>
        </div>
        <div class="col-md-2t">
            <button type="button"
                    id="post_blog_btn"
                    data-loading-text="Posting ..."
                    class="btn btn-primary"
                    style="height: 100%;">
                Post
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <textarea name="post_blog_editor" id="post_blog_editor">
                Time to write, dude.
            </textarea>
        </div>
    </div>

</div>