<div id="post" class="container-fluid">

    <div class="row">
        <div class=".col-md-12">
            <h1 class="text-center">Post Blog Entry</h1>
        </div>
    </div>

    <div class="row">
        <div id="post_blog_alert" class="alert alert-success hidden" role="alert"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <textarea name="post_editor" id="post_editor">
                Time to write, dude.
            </textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form">
                <div class="form-group">
                    <label for="title_txt">Title</label>
                    <input id="title_txt" type="text" class="form-control" placeholder="title">
                </div>
                <div class="form-group">
                    <label for="tags_txt">Tags</label>
                    <input id="tags_txt" type="text" class="form-control" placeholder="tags">
                </div>
                <div class="form-group">
                    <label for="post_date_picker">Post Date</label>
                    <input id="post_date_picker" data-provide="datepicker">
                </div>
                <button type="submit"
                        id="post_btn"
                        data-loading-text="Posting ..."
                        class="btn btn-primary">
                    Post
                </button>
            </form>
        </div>
    </div>
</div>