<div>
    <h1>Story</h1>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>Stack choice for a home project?</h4></div>
        <div class="panel-body">
            <p>

            </p>

            <p>
                <i> * ducks in anticipation of flame wars * </i>
            </p>
        </div>
        <div class="panel-footer">Sep. 3, 2014</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>In the Beginning</h4></div>
        <div class="panel-body">
            <p>
                First Post! <br>
                I'm Typing right into the handlebars template for the entire "Story" section of the site. That means I'm
                procrastinating building out a back end to support "blogging".
                I've been doing enough wiring things together in the past couple of days to merit
                splashing a bit of content onto the site. Also, I'm a fan of continuous refactoring, and in writing this
                I'm signing myself up for some practice and learning.
                If I build a little bit at each step of the way, then I'll be "refactoring" as the site
                matures rather than trying to get the whole infrastructure wired together up front. The trick is to find
                that sweet spot where there is enough going on so that the refactor results in the immediate perception
                of
                benefit, but not quite so much as to make the refactoring a painfully time-intensive task. I do, after
                all,
                have this thing called a "day job" to which much of my time is devoted.
            </p>

            <p>
                <i>Rewind</i>
            </p>

            <p>
                I got ahead of myself there. There will be plenty of time for posts on continuous refactoring. Welcome
                to the site. Enjoy. That's all I can say. My notion of what belongs here changes daily, so I'm having
                trouble predicting where this is going to go from here. I will say this though, I've decided to adopt
                a unique and totally cool pseudonym: "John". John welcomes you to his blog/site thing.
            </p>

            ##endfirstpost.
        </div>
        <div class="panel-footer">Feb 16, 2014</div>
    </div>

</div>