<div class="panel panel-default" data-object-id="{{object_id}}">

    <div class="panel-heading">
        <h4>{{title}}</h4>
    </div>

    <div class="panel-body">
        {{{html}}}
    </div>

    <div class="panel-footer">{{date}}</div>

</div>